#o1, #l1{
    background-color: black ;
}
#o2, #l2{
    background-color: rgb(92, 91, 91) ;
}
#o3, #l3{
    background-color: rgb(122, 122, 122) ;
}
#o4, #l4{
    background-color: rgb(202, 95, 95) ;
}
#o5, #l5{
    background-color: rgb(116, 13, 13) ;
}
#o6, #l6{
    background-color: rgb(78, 1, 68) ;
}
#o7, #l7{
    background-color: rgb(65, 10, 110) ;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#head{
    text-align: center;
    width: 33vw;
    margin: 2vh auto;
    font-size: 50px;
}
#about{
    text-align: center;
    font-size: 25px;
    width: 25vw;
    margin : 2vh auto;
}
#container{
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 7vh;
    margin-bottom: 3vh;
}
.object{
    width: 25%;
    height: 60%;
    display: none;
    margin-top: 10vh;
    margin-right: 2.5vw;
    float: left;
}
div.active{
    display: block;
}
.a2{
    height: 100%;
    width: 44.42%; /* pk 45 marche pas ? c'est avec le margin-right of object*/
    margin-top: 0%;

}
.a3{
    margin-right: 0;
}
.label{
    margin: 0 auto;
    margin-bottom: 4vh;
    width : 30vw;
    height: 15vh;
    text-align: center;
    display: none;
}
.labelactive{
    display: block;
}
.cont-btn{
    width: 20vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.btn-nav{
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
}
