@font-face {
  font-family: "redaction10";
  src: url("../fonts/redaction/webfonts/Redaction_10-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "redaction20";
  src: url("../fonts/redaction/webfonts/Redaction_20-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "redaction35";
  src: url("../fonts/redaction/webfonts/Redaction_35-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "redaction50";
  src: url("../fonts/redaction/webfonts/Redaction_50-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "redaction70";
  src: url("../fonts/redaction/webfonts/Redaction_70-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "redaction100";
  src: url("../fonts/redaction/webfonts/Redaction_100-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "redaction";
  src: url("../fonts/redaction/webfonts/Redaction-Bold.woff2");
  font-weight: bold;
}

:root {
  --element-width: 125vw;
}

* {
  margin: 0 0;
}

body {
  background-color: #0f1013;
  overflow: hidden;
  /* background-color: #AACABB; */
}

.logo {
  width: 6.5vw;
  height: 6.5vw;
  float: left;
  margin-left: 2vh;
  margin-top: 1vh;
  position: absolute;
}

.gitlab {
  width: 4vw;
  height: 4vw;
  /* float: right; */
  right: 0;
  margin-right: 2vh;
  margin-top: 2vh;
  position: absolute;
}

img {
  width: 100%;
  vertical-align: middle;
  filter: blur(2px);
}

img:hover {
  transform: rotate(-2deg);
  transition: transform 0.25s;
  filter: blur(0px);
}

#main_container {
  margin-left: -40vw;
  z-index: -1;
  /* à faire en js */
  margin-top: -20vw;
  width: 100vw;
  position: fixed;
  height: auto;
  mix-blend-mode: exclusion;
  /* border: 4px solid red; */
}

.curiosity_object {
  width: 100vw;
  height: 100vh;
  position: fixed;
  text-align: center;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  color: #e6e6e6;
  color: #ffffff;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  font-size: 5vw;
  /* font-family: 'redaction35'; */
}

#title.redaction {
  font-family: 'redaction';
}

#title.redaction10 {
  font-family: 'redaction10';

}

#title.redaction20 {
  font-family: 'redaction20';

}

#title.redaction35 {
  font-family: 'redaction35';

}

#title.redaction50 {
  font-family: 'redaction50';

}

#title.redaction70 {
  font-family: 'redaction70';

}

#title.redaction100 {
  font-family: 'redaction100';

}

.object {
  width: 28%;
  margin: 2%;
  border: solid black 1px;
}


@media all and (max-width: 1000px) {
  body {
    overflow: auto;
  }

  #main_container {
    margin-left: 0;
    margin-top: 0;
    position: relative;

  }
  #main_container img {
    width: 96%;
    margin: 2%;
  }

  .curiosity_object {
    top: 0;
    font-family: 'redaction50';
    pointer-events: none;
  }
}