@font-face{
  font-family: "Compagnon";
  src: url("./fonts/Compagnon-Medium.otf");
}

@font-face{
  font-family: "Compagnon Italic";
  src: url("./fonts/Compagnon-Italic.otf");
}

@font-face{
  font-family: "Compagnon Light";
  src: url("./fonts/Compagnon-Light.otf");
}

@font-face{
  font-family: "Compagnon Roman";
  src: url("./fonts/Compagnon-Roman.otf");
}

@font-face{
  font-family: "Compagnon Script";
  src: url("./fonts/Compagnon-Script.otf");
}

@font-face{
  font-family: "36Days";
  src: url("./fonts/36Days-Regular.otf");
}

@font-face{
  font-family: "HighTide";
  src: url("./fonts/HighTide-Regular.otf");
}

@font-face{
  font-family: "Lovelo";
  src: url("./fonts/Lovelo-LineBold.otf");
}

* {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

body{
  background-color: #000501;
}


h1{
	font-family: 'Lovelo', cursive;
	font-size: 3.3em;
	color: #FCFFEB;
	text-align:center;
  margin-top: 3.7%;
}

.button{
  border-bottom:  #FCFFEB 0.18em;
  border-radius: 0.125em;
  padding: 0.938em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  font-family: 'Compagnon Light', cursive;
  margin: 0.25em 0.125em;
  cursor: pointer;
}

#button1{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 5%;
  margin-bottom: 1.5%;
}

#button2{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5%;
  margin-bottom: 1.5%;
}


a{
  text-decoration: none;
  color: #FCFFEB;
}

.ligne{
  color: #f7d600;
}