*{
    margin: 0 0;
}
.ball{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

#oui{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

#non{
    margin-left: 500px;
}

#block{
    width: 300px;
    height: 300px;
    background-color: red;

}